@media (min-width: 300px) and (max-width: 640px) {
    .ml1 {
        margin-top: 10vh; /* Dikurangi lagi menjadi 10vh */
        transition: margin-top 0.3s ease;
    }

    .kontener2 {
        margin-top: 5vh; /* Dikurangi lagi menjadi 2vh */
        padding: 10px;
        text-align: center;
        transition: margin-top 0.3s ease;
    }
}

